@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: "Inter", sans-serif;
    background: #F9F7F5;
  }

  .head1{
    color: #0B1320;
    font-size: 18px;
    font-weight: 700;
  }

  .custom-scrollbar::-webkit-scrollbar {
    height: 11px;

  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: white;
    border-radius: 10px;
     margin-top: 10px; 
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #E9E9E9;
    border-radius: 10px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background:#E9E9E9;
  }
  

  